<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Nursery</title>
    <link rel="icon" href="logo-2.svg" />
    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css\style.css" />
  </head>
  <body>
    <header>
      <div class="header-1">
        <a href="/" class="logo"
          ><i class="fas fa-shopping-basket"></i
          ><span style="color: #27ae60"> E-</span>nursery</a
        >
      </div>

      <div class="header-2">
        <div id="menu-bar" class="fas fa-bars"></div>

        <nav class="navbar">
          <a href="/">home</a>
          <!-- <a href="#product">product</a> -->
          <a href="/team">Team</a>
        </nav>

        <div class="icons">
          <a href="/cart" class="fas fa-shopping-cart"></a>
          <!-- <a href="#" class="fas fa-heart"></a> -->
          <!-- <a href="#" class="fas fa-user-circle"></a> -->
          <div class="size"><%= cart.length %></div>
        </div>
      </div>
    </header>

    <!-- header section ends -->

    <!-- product section starts  -->

    <section class="product" id="product">
      <h1 class="heading"><span>Team</span></h1>

      <div
        class="box-container"
        style="
          height: 400px;
          width: 300px;
          margin: auto auto;
          padding-left: 0px;
        "
      >
        <!-- <form method=""> -->

        <!-- </form> -->
        <div class="box">
          <img src="//unsplash.it/800?1" alt="" />
          <h3>Rishi</h3>
          <h4>B-Tech:<strong>4th Year</strong></h4>

          <h2>ECE</h2>
          <div class="btn-container">
            <a href="https://www.linkedin.com/in/rishi-gupta-4732521b5/" class="btn"
              ><i class="fas fa-solid fa-linkedin"></i>
            </a>
            <a href="https://github.com/rishi3006" class="btn"
              ><i class="fas fa-solid fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
      <br />
      <br />
    <!-- product section ends -->

    <!-- footer section starts  -->

    <section class="footer">
      <h1 class="credit">
        Developed by <span> e-nursery </span> | all rights reserved!
      </h1>
    </section>

    <!-- footer section ends -->
  </body>
</html>
